@using Mastermind.Components.ViewModels
@inherits ComboPickedVM

<MudContainer Fixed="true" Style="width: 100vw; height: 50px; background-color: rgba(102,185,102,0.8);">
	<MudStack Row="true" Spacing="1" AlignItems="AlignItems.Center" Style="height: 100%;">
		@if (!AccessibilityState)
		{
			<MudIconButton DisableRipple="true" Icon="@Icons.Material.Filled.Lightbulb"
						   Style="@($"{colorDictionary[Combo[0]]} height: 45px; width: 45px;")" />
			<MudIconButton DisableRipple="true" Icon="@Icons.Material.Filled.Lightbulb"
						   Style="@($"{colorDictionary[Combo[1]]} height: 45px; width: 45px;")" />
			<MudIconButton DisableRipple="true" Icon="@Icons.Material.Filled.Lightbulb"
						   Style="@($"{colorDictionary[Combo[2]]} height: 45px; width: 45px;")" />
			<MudIconButton DisableRipple="true" Icon="@Icons.Material.Filled.Lightbulb"
						   Style="@($"{colorDictionary[Combo[3]]} height: 45px; width: 45px;")" />
		}
		@if (AccessibilityState)
		{
			var colorString = $"{colorDictionary[(Attempt + 10)]} height: 45px; max-width: 45px; min-width: 45px; border-radius: 100%;";
			<MudButton DisableRipple="true" Style="@colorString">
				<MudText Typo="Typo.h5">@(Combo[0])</MudText>
			</MudButton>
			<MudButton DisableRipple="true" Style="@colorString">
				<MudText Typo="Typo.h5">@(Combo[1])</MudText>
			</MudButton>
			<MudButton DisableRipple="true" Style="@colorString">
				<MudText Typo="Typo.h5">@(Combo[2])</MudText>
			</MudButton>
			<MudButton DisableRipple="true" Style="@colorString">
				<MudText Typo="Typo.h5">@(Combo[3])</MudText>
			</MudButton>
		}


		<MudSpacer />

        <MudStack
            AlignItems="AlignItems.Center" Spacing=1 Justify="Justify.Center">
				<MudStack Row="true" Spacing="0" AlignItems="AlignItems.Center">
					<MudAvatar Color="Color.Success" Style="height: 20px; width: 20px;">
						<MudIcon Color="Color.Dark" Style="height: 18px; width: 18px;" Icon="@Icons.Material.TwoTone.LockOpen" />
					</MudAvatar>
					<MudPaper Elevation="12" Height="2.5vh" Width="5vw" Style="padding-bottom: 20px;">
						<MudText Align="Align.Center">@Bulls</MudText>
					</MudPaper>
				</MudStack>
				<MudStack Row="true" Spacing="0" AlignItems="AlignItems.Center">
					<MudAvatar Color="Color.Warning" Style="height: 20px; width: 20px;">
						<MudIcon Color="Color.Dark" Style="height: 18px; width: 18px;" Icon="@Icons.Material.TwoTone.Lock" />
					</MudAvatar>
					<MudPaper Elevation="12" Height="2.5vh" Width="5vw" Style="padding-bottom: 20px;">
						<MudText Align="Align.Center">@Cows</MudText>
					</MudPaper>
				</MudStack>
        </MudStack>

		<MudSpacer />
		<MudText Class="pb-0 mb-0" Align=Align.Center Typo="Typo.subtitle2">Attempt <span style="color: darkgreen;">@Attempt</span></MudText>

		
	</MudStack>
</MudContainer>


